

/*------------------------------------------------------main carroussel----------------------------------------------------*/
.main-section {
    height: 80vh;
    margin: 0 auto;
    overflow: hidden; /* Evita que el contenido sobresalga */
    position: relative;
}
#carouselDemo {
    width: 100%;
    height: 100%;
}

.carousel-inner,
.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}


/*------------------------------------------------------bestsellers----------------------------------------------------*/
.info-1 {
    margin-top: 2%;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;


    
}
.queda-poco{

    width:30%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.queda-poco-display{
    background-color: white;
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    gap: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
    
}

.queda-poco-img{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center; 
    align-items: center;

}
.queda-poco h1 {
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family: 'Slabo 27px', sans-serif;
}
.best-sellers{

    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px gray;
}

.title{
width: 91%;
    text-align: center;
    background-color: black;
}

.best-sellers h1 {
    font-size: 3em;
    color: white;
    font-family: 'Slabo 27px', sans-serif;
}
.info-1-grid {

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 4% 30% 1% 30% 1% 30% 4%;
    grid-template-rows: 4% 30% 1% 30% 1% 30% 4%;

    
}

.cont1{
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;

}
.cont2{
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
 
}
.cont3{
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;

}
.cont4{
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

}
.cont5{
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;

}
.cont6{
    display: flex;
    justify-content: center; 
    align-items: center;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;

}

.cont1 .cont-img{
    width: 98%;
    height: 98%;
    transition: all 0.5s ease-in-out;
}

.cont-img{
    width: 96%;
    height: 96%;
    transition: all 0.5s ease-in-out;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

}
.cont-img:hover{
    width: 100%;
    height: 100%;
}


@media (max-width: 1600px) {
    .queda-poco h1 {
        font-size: 2.4em;
        font-weight: bold;
        color: black;
        font-family: 'Slabo 27px', sans-serif;
    }
}
@media(max-width:900px) {

    .info-1-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .info-1{
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .info-1 h1 {
        font-size: 1.5em;
        color: white;
        font-family: 'Slabo 27px', sans-serif;
    }

    

}

/*  Para pantallas menores a 1200px */
@media (max-width: 1200px) {
    .title{
       margin-bottom: 30px;
        }

             
    .info-1 {
        flex-direction: column; /* Apila los elementos en columna */
        align-items: center;
        height: auto;
    }
    .best-sellers {
        width: 100%;
    }
    .info-1-grid {
        grid-template-columns: 1fr 1fr; /* Reduce la cantidad de columnas */
        grid-template-rows: auto;
    }
    .queda-poco {
        width: 100%;
        margin-top: 20px;
    }
}


@media (max-width: 900px) {
    .info-1-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .info-1 h1 {
        font-size: 2em;
    }
    .queda-poco {
        width: 100%;
        margin-bottom: 20px;
    }
    .queda-poco-display {
        width: 90%;
        height: auto;
        padding: 20px;
    }
    .queda-poco-img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .info-1 {
        padding: 10px;
    }
    .best-sellers h1, .queda-poco h1 {
        font-size: 1.3em;
    }
    .info-1-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .queda-poco-display {
        width: 100%;
        padding: 15px;
        gap: 10px;
    }
    .queda-poco-img {
        height: auto;
        width: 100%;
    }
    .cont-img {
        width: 90%;
        height: auto;
    }
}


@media (max-width: 400px) {
    .best-sellers h1, .queda-poco h1 {
        font-size: 1.5em;
    }
    .info-1 {
        margin-top: 2%;
    }
    .cont-img {
        width: 85%;
    }
}

/*--------------------------------------------------------RECOMENDACIONES----------------------------------------------------*/
.info-2 {

    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.info-2 h1 {
    font-size: 3em;
    font-family: 'Slabo 27px', sans-serif;
}

/* SLIDER EVENTOS */

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title-recomendations{
    width: 95%;
    color: white;
        text-align: center;
        background-color: black;
    }

.title-queda-poco{
    width: 95%;
    
        text-align: center;

    }

    .popular-container {
        
        width: 80%;}
    
    .card-list .card-item {
        list-style: none;
        
        
    }
    
    .card-wrapper {
        max-width: 100%;
        margin-top: 20px;
        overflow: hidden;
        
        
    
    }
    
    .card-list .card-item .card-link {
        user-select: none;
        display: block;
        padding: 18px;
        border-radius: 12px;
        text-decoration: none;
        background-color: white;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
        border: solid 2px black;
        transition: 0.2s ease;
    }
    
    .card-list .card-item .card-link:hover {
    
        border: solid 2px #8B6A9C;
    }
    
    .card-list .card-link .card-image {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .card-list .card-link .badge {
        color: #8B6A9C;
        padding: 8px 16px;
        font-size: 0.95rem;
        font-weight: 500;
        margin: 16px 18 px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #d3a1ef;
        width: fit-content;
        border-radius: 50px;
    }
    
    .card-list .card-link .badge {
        color: white;
        background-color: black;
    }
    
   
    
    .card-list .card-link .card-title {
        font-size: 1.5rem;
        color: black;
        font-weight: 600;
    }
    
    .card-list .card-link .card-text {
        font-size: 0.8rem;
        color: black;
        font-weight: 600;
    }
    
    .card-list .card-link .card-button {
        height: 35px;
        width: 35px;
        color: #d3a1ef;
        border-radius: 50%;
        margin: 30px 0 5px;
        background: none;
        cursor: pointer;
        border: 2px solid #d3a1ef;
        transform: rotate(-45deg);
        transition: 0.4s ease;
    }
    
    .card-list .card-link:hover .card-button {
        color: white;
        background: #d3a1ef;
    }
    
 


@media(max-width:768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
    .title-recomendations h1 {
        margin-top: 20px;
        font-size: 1.5em;
        text-align: center;
        color: white;
        font-family: 'Slabo 27px', sans-serif;
    }
}




