.main-section .profile {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main-section .profile a {
    margin-bottom: 10px; 
    width: 100%; 
    text-align: center; 
    text-decoration: none;
    color: inherit;
}

.main-section .profile a:last-child {
    margin-bottom: 0; 
}

.btn-profile {
    
}