.support-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-form{
    border: solid 1px red;
    width: 50%;
    padding: 4%;
}

.support-form input,textarea{
    border: solid 1px red;
    width: 90%;
}
    
@media screen and (max-width:670px){
    .support-form{
        border: solid 1px red;
        width: 80%;
        padding: 2%;
    }
}